esercitazionepsd/cliente/src/META-INF/wsdl/localhost_8080/WSReplica/WSReplica.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="gestore_replica" type="tns:gestore_replica"/>

<xs:element name="gestore_replicaResponse" type="tns:gestore_replicaResponse"/>

<xs:element name="operazione_bean" type="tns:operazione_bean"/>

<xs:element name="operazione_beanResponse" type="tns:operazione_beanResponse"/>

<xs:complexType name="gestore_replica">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="gestore_replicaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operazione_bean">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="operazione_beanResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>